{% extends 'base.html' %}


{% block title %}
    Eliminar Empleado
{% endblock title %}
    

{% block content %}
    
    {% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="grid-x">
            <h1>Eliminar empleado: {{ empleado.full_name }}</h1>

            <form class="cell" action="" method="post">
                {% csrf_token %}
                <div class="callout secondary">

                    <p>confirme que desea Eliminar</p>
                    <button type="submit" class="alert button">Confirmar</button>
                </div>
            </form>            
        </div>
    </div>

{% endblock content %}
    



