{% extends 'base.html' %}


{% block title %}
    Lista Departamento
{% endblock title %}
    

{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Lista Departamento</h1>
        <div class="cell">
            <table>
                <tbody>
                    {% for empleado in empleados %}
                    <tr>
                        <td>{{ empleado.id }}</td>
                        <td>{{ empleado.first_name }}</td>
                        <td>{{ empleado.last_name }}</td>
                        <td>{{ empleado.departamento }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>



        </div>
    </div>
</div>
    
{% endblock content %}
        

